# Fichiers sensibles
.env
.env.local
.env.production
# js/config.js    ← AJOUTEZ # DEVANT
config.local.js
config.secret.js

# Node modules
node_modules/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers temporaires
*.log
*.tmp

# Netlify
.netlify/